body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color:#FFFFFF;
    letter-spacing: 0.02em
}

a {
    text-decoration: none;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/*header-container*/

.header{
    border-bottom: 1px solid #e7e9fc
}

.header-container{
    display: flex;
}

.navigation-menu{
    height: 72px;
    background: #fff;
    display: flex;
    gap: 40px;
    align-items: center;
}

.link-logo{ 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

.link-logo>span{
    color: #2e2f42;
}

.navigation-list-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-top: 24px;
    padding-left: 76px;
}

.navigation-list{
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0
}

.contacts{
    font-style: normal;
}

.contacts-list-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;
    margin-top: 24px;
    padding-left: 290px;
}

.navigation-contacts{
    letter-spacing: 0.02em;
    color: #434455;
}

.navigation-list:hover,
.navigation-list:focus {
    color: #404bbf;
}

.navigation-contacts:hover,
.navigation-contacts:focus {
    color: #404bbf;
}


/*start-container*/


.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start{
    background: #2e2f42;
    padding: 188px 0;
}

.page-goal{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
    max-width: 496px;
}

.order-button{
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.04em;
    border-radius: 4px;
    height: 56px;
    border: none;
    min-width: 169px;
}

.order-button:hover {
    background-color: #404bbf;
}

.order-button:focus {
    background-color: #404bbf;
}


/*about-us-container*/

.advantages{
    padding: 120px 0;
}


.container-list {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-us-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
    
}

.advantage-describing{
    width: calc((100% - 72px) / 4)
}

.about-us{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
}


.advantage{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


/*team-container*/


.team{
    background: #f4f4fd;
}

.team-card{
    background-color: #FFFFFF;
}

.team-container{
    display: flex;
    flex-direction: column;
}

.team-list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    padding-top: 40px;
    padding-bottom: 120px;
}

.about-us{
    text-align: center;
    padding-top: 120px;
}

.people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
    text-align: center;
}

.profession{
    text-align: center;
    padding-bottom: 32px;
}


/*offers-container*/


.offers-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 107px;
}

.offer-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 32px 16px;
    width: calc((100%-96)/6); 
}

.offers{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}

.describing{
    padding-bottom: 32px;
}


/*footer-container*/


.footer-container{
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: #2e2f42;
    color:#f4f4fd;
    height: 312px;
    padding: 100px 0;
}

.link-logo-f{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-footer{
    color: #f4f4fd;
}

.describing-logo{
    width: 264px;
}